<%- include("head.ejs") %>

<body>
  <%- include("navbar.ejs") %>
  <div class="cuadro main-div">
<ul class="list-group">




      <%compras.forEach((compra) => { %>
  <form action="/delete" method="post">
    <li class="list-group-item">
        <div class="row">
          <div class="col">
            <button class="btn btn-sm btn-danger" type="subtmit" name="deleted">X</button>

            <input type="hidden" name="deletedList" value="<%=compra.id%>">
          </div>
          <div class="col">
            <%=  compra.orden.join(", ")%>
          </div>
          <div class="col">
            <p class="price">$<%=compra.price%></p>
          </div>
        </div>







          </li>
        </form>


      <%  }) %>

      <div>

        <h1>Total: $<%=precioCompleto%></h1>
        <button class="btn big-button btn-lg btn-primary" type="button" onclick="alert('Ojalá')">Pagar</button>
      </div>

    </ul>
  </div>




</body>

<%- include("footer.ejs") %>
